.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding: 20px 0;
  margin: 0 auto;
}

@media screen and (min-width: 450px) {
  .app {
    max-width: 650px;
  }
}